[submodule "terminal/ssl/ssl-manager/acme.sh"]
	path = terminal/ssl/ssl-manager/acme.sh
	url = git@github.com:Neilpang/acme.sh.git
[submodule "app/vue/base"]
	path = app/vue/base
	url = git@github.com:LeonardPauli/lp-vue-base.git
[submodule "app/vue/lib"]
	path = app/vue/lib
	url = git@github.com:LeonardPauli/lp-vue-lib.git
[submodule "app/data/moduler"]
	path = app/data/moduler
	url = git@github.com:LeonardPauli/data-moduler.git
