[submodule "terminal/ssl/ssl-manager/acme.sh"]
	path = os/network/ssl/ssl-manager/acme.sh
	url = git@github.com:Neilpang/acme.sh.git
[submodule "app/vue/base"]
	path = app/vue/base
	url = git@github.com:LeonardPauli/lp-vue-base.git
[submodule "app/vue/lib"]
	path = app/vue/lib
	url = git@github.com:LeonardPauli/lp-vue-lib.git
[submodule "app/data/moduler"]
	path = app/data/moduler
	url = git@github.com:LeonardPauli/data-moduler.git
[submodule "app/js/module/base"]
	path = app/js/module/base
	url = git@github.com:LeonardPauli/lp-node-module-base.git
[submodule "design/sketch/plugins/sketch-dev-tools"]
	path = design/sketch/plugins/sketch-dev-tools
	url = git@github.com:skpm/sketch-dev-tools.git
[submodule "app/node/streams/modules/split"]
	path = app/node/streams/modules/split
	url = git@github.com:dominictarr/split.git
[submodule "app/node/streams/stream-handbook"]
	path = app/node/streams/stream-handbook
	url = git@github.com:substack/stream-handbook.git
